<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
</head>

<body>
    <h1>WebSocket Chat</h1>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        var ws = new WebSocket("ws://localhost:8000/api/ws/chat");

        ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            const eventType = data.event;
            console.log(eventType);

            if (eventType === 'connect') {
                const message = data.message;
                var messages = document.getElementById('messages');
                var messageLi = document.createElement('li');
                messageLi.appendChild(document.createTextNode(data.message));
                messages.appendChild(messageLi);
            }
            else if (eventType === 'server_message') {
                console.log(data.message)
                // 메시지 출력
                var messages = document.getElementById('messages');
                var messageLi = document.createElement('li');
                messageLi.appendChild(document.createTextNode('Server:' + data.message));
                messages.appendChild(messageLi);
                // 오디오 재생
                // const audioBase64 = data.audio;
                // const audioBuffer = Uint8Array.from(atob(audioBase64), c => c.charCodeAt(0));
                // const blob = new Blob([audioBuffer], { type: 'audio/mp3' });
                // const url = URL.createObjectURL(blob);
                // const audio = new Audio(url);
                // audio.play();
            }
        };

        const sendMessage = (event) => {
            var input = document.getElementById("messageText");
            var messages = document.getElementById('messages');
            var message = document.createElement('li');
            var content = document.createTextNode('Client: ' + input.value);
            message.appendChild(content);
            messages.appendChild(message);
            ws.send(input.value);
            input.value = '';
            event.preventDefault();
        }
    </script>
</body>

</html>